@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
body {
  margin: auto;
  font-family: "Inter", sans-serif;
  background-color: rgb(36, 39, 41) !important;
  /* @media screen {
    width: 100%;
     */
  }

  


::-webkit-scrollbar {
  width: 3.5px;
  margin-left: 0%;
  margin-right: 0%;
 
}

::-webkit-scrollbar-thumb {
  background-color: #464b50;
}